.body{
    font-size:24px;
}

.results{
    margin-top: 5vh;
}

.title{
    font-size: 4rem;
}

.switch-search{
    border-radius: 10px;
    background-color: #008CBA;
    border:2px;
    font-size:1.5rem;
    
}

div#searchByID{
    display: none;
}

#switch-search-Name{
    display: none;
}

#search-again{
    position: relative;
    float: right;
    border-radius: 10px;
    font-size: 1 rem;
    background-color: rgb(82, 223, 82);
    display : none;
    border:2px;
}

.card-img-top{
    max-width: 30vw;
    
}


@media screen and (max-width : 768px){
    .card-img-top{
        max-width: 30vw;
        
    }
}

@media screen and (max-width : 480px){
    .card-img-top{
        max-width: 50vw;
        
    }
}

@media screen and (max-width : 360px){
    .card-img-top{
        max-width: 70vw;
        
    }
}